OPENHANDS_BUILD_VERSION=qadr-fa
AGENT_SERVER_IMAGE_REPOSITORY=ghcr.io/openhands/agent-server
AGENT_SERVER_IMAGE_TAG=1.12.0-python
SANDBOX_USER_ID=0
OPENHANDS_PORT=39030
OPENHANDS_STATE_DIR=/srv/data/openhands-state
OPENHANDS_WORKSPACE_DIR=/srv/data/openhands-workspace
SANDBOX_CONTAINER_URL_PATTERN=https://hands.gantor.ir/runtime/{port}
SANDBOX_INTERNAL_CONTAINER_URL_PATTERN=http://host.docker.internal:{port}
OH_WEB_URL=https://hands.gantor.ir
OH_PERMITTED_CORS_ORIGINS_0=https://hands.gantor.ir
WEB_HOST=hands.gantor.ir
OPENHANDS_CONFIG_CLS=openhands.qadr.server_config.QadrServerConfig
FREEGPT_OPENHANDS_REQUIRE_LOGIN=true
FREEGPT_AUTH_BASE_URL=http://qadr-openwebui-app:8080
FREEGPT_OPENHANDS_SESSION_SECRET=REPLACE_WITH_LONG_RANDOM_SECRET
FREEGPT_OPENHANDS_DEFAULT_LANGUAGE=fa
HIDE_LLM_SETTINGS=true
AUTH_URL=https://hands.gantor.ir/auth/login
